<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} | %highlight(%level) | %thread | %class:%line | %msg%n"/>
    <property name="APP" value="learnkeys"/>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="debugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/${APP}.%d{yyyy-MM-dd}.%i.debug.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.algs4.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="infoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/${APP}.%d{yyyy-MM-dd}.%i.info.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.algs4.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/${APP}.%d{yyyy-MM-dd}.%i.error.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.algs4.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="debugLog"/>
        <appender-ref ref="infoLog"/>
        <appender-ref ref="errorLog"/>
    </root>
</configuration>
